/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-800 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-800italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
:root {
     scroll-behavior: smooth;
     /* Для плавного скролла при
      нажатии якорных ссылок */
}

button {
     cursor: pointer;
}
/* при наведении на кнопки курсор превращается в палец */

  /* Header */
  
  .header{
     /* position: fixed; */
     display: flex;
     justify-content: center;
     /* width: 100%; */
     max-width: 1249px;
     min-height: 89px;
     background-color: rgba(0,0,0,0.8);
     padding-left: 30px;
}

.page {
     font-family: 'Open Sans', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     min-width: 350px;
}

.page__inner{
     display: block;
     width: 100%;
     box-sizing: border-box;
}

.header-wrapper{
     padding: 0 1vw;
     padding-top: 29px;
}

.header-grey{
     background-color: #F6F2F2;
}

.page__inner_dark{
     background-color: #2c2c2c;
}

.page-header{
     margin: 0 auto;
}

.page__inner_subscribe {
     padding: 0 1vw;
}

.page__inner_footer {
     padding: 0 1vw;
}


@media screen and (max-width: 600px) {
     .header {
          padding-left: initial;
     }
}
/* убираем паддинг медиазапросом для адаптива */

.menu-list{
     display:flex;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
     list-style: none;
}

@media screen and (max-width: 600px) {
     .menu-list {
          justify-content: center;
     }
}
/* помещаем в середину названия в шапке при адаптиве */

.menu-list > li {
     display:flex;
     min-height: 89px;
}

.menu-link {
     display:flex;
     align-items: center;
     padding: 0 30px;
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     line-height: 1.71;
     font-weight: 700;
     text-transform: uppercase;
     /* все буквы заглавные */
     text-decoration: none;
     /* без нжнего подчеркивания */
     color: #E0E0E0;
}

.menu-link:hover{
     background-color: #FF3F40;
}

.menu-active {
     background-color: #FF3F40;
}

@media screen and (max-width: 800px) {
     .site-menu {
          display: none;
     }
     /* скрываем пункт меню */
}

     /* Popap menu */

.popap-menu {
     position: relative;
     display: flex;
     align-items: center;
}

.popap-menu-button {
     display: block;
     width: 300px;
     height: 80px;
     background-image: url('../img/menu_icon.svg');
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     border: none;
     border-radius: 5px;
}

.popap-menu-list {
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translate(-50%, 100%);
     display:flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
     margin: 0;
     padding: 0;
     list-style: none;
     background-color: rgba(0,0,0,0.8);
}

.popap-menu-link {
     display:flex;
     align-items: center;
     padding: 0 30px;
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     line-height: 1.71;
     font-weight: 700;
     text-transform: uppercase;
     /* все буквы заглавные */
     text-decoration: none;
     /* без нжнего подчеркивания */
     color: #E0E0E0;
}

.popap-menu-link:hover{
     background-color: #FF3F40;
}

.popap-menu-link-active {
     background-color: #FF3F40;
}

@media screen and (min-width: 800px) {
     .popap-menu {
          display: none;
     }
}


/* Main */
/* Intro */
.intro-wrapper{
     display: block;
     width: 100%;
     /* padding: 102px 0 110px; */
     background-color: #F6F2F2;
}

.intro{
     padding: 0 1vw;
     display: flex;
     flex-wrap: wrap;
     /* Перенос */
     max-width: 1249px;
     margin: 0 auto;
     justify-content: space-between;
     /* элементы распределились чтобы 
     от края до края */
     padding-top: 102px;
     padding-bottom: 110px;
}

@media screen and (min-width: 800px) 
(max-width: 1240px) {
     .intro{
          flex-wrap: nowrap;}
} 

.intro-info {
     max-width: 595px;
     margin-right: 2vw;
}

@media screen and (max-width: 1240px) {
     .intro-info {
          width: 50%;
          margin-right: initial;
          /* при адаптиве сделать ширину 50%
          и убрать margin-right */
     }
}

@media screen and (max-width: 800px) {
     .intro-info {
          width: 100%;
          margin-bottom: 80px;
     }
}

.intro-heading{
     font-family: 'Open Sans', sans-serif;
     /* !в названии шрифта всегда 
     ставим пробел между словами! */
     font-size: 60px;
     line-height: 1.2;
     /* or 120% */
     font-weight: 800;
     /* толщина шрифта */
     font-variation-settings: "wght" 800;
     letter-spacing: 1.5px;
     /* расстояние между буквами */
     text-transform: uppercase;
     margin: 0;
     margin-bottom: 19px;
     margin-top: -15px;
}

.intro-special{
     letter-spacing: 6px;
     overflow-wrap: break-word;
     hyphens: auto;
}

.intro-text{
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.75;
     /* or 175% */
     margin: 0;
     margin-bottom: 58px;
}

.action-link{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 227px;
     padding: 0.5em 1em;
     box-sizing: border-box;
     /* чтобы pамка входила в размеры кнопки и 
     кнопка не увеличивалась при задавании 
     паддингов */
     min-height: 55px;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     line-height: 1.88;
     /* or 188% */
     font-weight: 700;
     background-color: #FF2D2D;
     border-radius: 5px;
     /* закругляем углы */
     text-decoration: none;
}

.intro-video {
     width: 551px;
     height: 356px;
     object-fit: cover;
     /* видео займет указанные параметры
      путем обрезания краев */
     box-shadow: -2.2px -13.8px 73px rgba(0,0,0,0.29) ;
}

@media screen and (max-width: 1240px) {
     .intro-video {
          width: 50%;
     }
}

@media screen and (max-width: 800px) {
     .intro-video {
          width: 100%;
     }
}

/* Services */
.services{
     display: flex;
     max-width: 1249px;
     margin: 0 auto;
     padding: 0 1vw;
     padding-top: 95px;
     padding-bottom: 52px;
     justify-content: space-between;
     /* элементы распределились чтобы 
     от края до края */
     border-bottom: 2px solid #ececec;
}

@media screen and (max-width: 950px) {
     .services {
          flex-direction: column;
          }
}
/* расположение один под другим после ширины 950 */

.services__info{
     width: 539px;
}

/* @media screen and (max-width: 1240px) {
     .services__info {
          width: 50%;
     }
} */

@media screen and (max-width: 950px) {
     .services__info  {
          width: 100%;
          margin-bottom: 65px;
          }
}
 
.services__heading{
     margin: 0;
     margin-bottom: 35px;
     font-family: 'Open Sans', sans-serif;
     font-size: 42px;
     line-height: 1.31;
/* or 131% */
     font-weight: 700;
     letter-spacing: 0.4px;
     text-transform: uppercase;
     /* буквы звглавные */
}

.services__about{
     margin: 0;
     margin-bottom: 50px;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     line-height: 1.75;
     /* or 175% */
     font-weight: 400;
}

.action-link_red-transp{
     color:#ff2d2d;
     background-color: rgba(0,0,0,0.0001);
     border: 2px solid #ff2d2d;
}

.services__items{
     display: flex;
     flex-wrap: wrap;
     /* justify-content: end; */
     /* переносим флекс элементы */
     gap: 13px;
     /* расстояние между флекс элементами */
     max-width: 610px;
     padding-top: 10px;
}

@media screen and (max-width: 1240px) {
     .services__items {
          width: 50%;
          margin-right: initial;
          /* при адаптиве сделать ширину 50%
          и убрать margin-right */
          padding-left: 2vw;
     }
}

@media screen and (max-width: 1190px) {
     .services__items {
          width: 100%;
     }
}

@media screen and (max-width: 595px) {
     .services__items {
          width: 100%;
          justify-content: center;
     }
}


/* мой запрос */
.services__item{
     width: 50%;
     /* уменьшили ширину стоки, 
     чтобы не на всю строку надпись была */
     width: 285px;
     /* margin-bottom: 25px; */
     min-height: 206px;    
}

.services__item_manag::before{
     content: '';
     display: block;
     width: 41px;
     height: 41px;
     background-image: url(../img/ikon_manag.svg);
     background-repeat: no-repeat;
     margin-bottom: 33px;
     background-size: contain;
}

.services__item_design::before{
     content: '';
     display: block;
     width: 41px;
     height: 41px;
     background-image: url(../img/ikon_design.svg);
     background-repeat: no-repeat;
     margin-bottom: 33px;
     background-size: contain;
}

.services__item_logo::before{
     content: '';
     display: block;
     width: 41px;
     height: 41px;
     background-image: url(../img/ikon_logo.svg);
     background-repeat: no-repeat;
     margin-bottom: 33px;
     background-size: contain;
}

.services__item_animation::before{
     content: '';
     display: block;
     width: 41px;
     height: 41px;
     background-image: url(../img/ikon_animation.svg);
     background-repeat: no-repeat;
     margin-bottom: 33px;
     background-size: contain;
}

.services__title{
     margin: 0;
     margin-bottom: 13px;
     font-family: 'Open Sans', sans-serif;
     font-size: 24px;
     line-height: 1.2;
     /* or 0% */
     font-weight: 600;
}

.services__text{
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     line-height: 1.75;
     /* or 175% */

}

/* Feature */
.feature {
     max-width: 1249px;
     margin: 0 auto;
     padding: 0 1vw;
     padding-top: 100px;
     padding-bottom: 65px;
}

.feature__header{
     margin-bottom: 88px;
}
.feature__heading {
     margin: 0;
     margin-bottom: 12px;
     font-family: 'Open Sans', sans-serif;
     font-size: 42px;
     line-height: 1.2;
     font-weight: 700;
     letter-spacing: 0.38px;
     text-transform: uppercase;
     color: #000000;
     text-align: center;
}

.feature__about {
     max-width: 537px;
     margin: 0 auto;
     margin-bottom: 30px;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     line-height: 1.75;
     text-align: center; 
}

.hor-line{
     max-width: 130px;
     height: 2px;
     margin: 0 auto;
     background-color: rgba(255,45,45,1);
     border: none;
}

.hor-line_center{
     margin: 0 auto;
}

.hor-line_left{
     margin: 0;
}

.filter {
     display: flex;
     justify-content: center;
     margin-bottom: 58px;
}

.filter__list {
     list-style: none;
     /* убираем стилизвцию ссылок */
     margin: 0;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     gap: 57px;
}

.filter__link {
     font-family: 'Open Sans', sans-serif;
     font-size: 22px;
     line-height: 1.09;
     letter-spacing: 0.22px;
     font-weight: 600;
     text-transform: uppercase;
     text-decoration: none;
     color: #000000;
}

.filter__link_active {
     color: #FF2D2D;
}

.filter__link:hover {
     color: #FF2D2D;;
}

.feature__products {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
}

.feature__product {
     width: 297px;
     object-fit: cover;
     object-position: 0% 50%;
     flex: 1 1;
}

.feature__product67 {
     width: 297px;
     object-fit: cover;
     object-position: 50% 50%;
     flex: 1 1;
}

/* Team */
.team{
     max-width: 1249px;
     margin: 0 auto;
     padding: 0 1vw;
     padding-top: 62px;
     padding-bottom: 105px;
     text-align: left;
}

.team__header{
     margin-bottom: 70px;
}

.team__heading {
     font-family: 'Open Sans', sans-serif;
     font-size: 42px;
     font-weight: 700;
     margin: 0;
     margin-bottom: 25px;
     text-transform: uppercase;
}

.team__about{
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     max-width: 450px;
     margin: 0;
     margin-bottom: 30px; 
     line-height: 1.75;
/* or 175% */ 
}

.team__members {
     display: flex;
     display: grid;
     grid-template-columns: repeat(2, auto);
     grid-template-rows: repeat(2, auto);
     justify-content: space-between;
     align-items: end;
     column-gap: 2vw;
}

.team__lead-photo {
     object-position: bottom;
     object-fit: contain;
     background-color: rgba(255,45,45,1);
     grid-column: 1 / 2;
     grid-row: 1 / 3;
}

.team__inner {
     display: flex;
     flex-direction: column;
}

@supports (display: contents) {
     .team__inner {
          display: contents;
     }
}

.team__lead-main {
     max-width: 631px;
     grid-column: 2 / 3;
     grid-row: 1 / 2;
     align-self: center;
}

.team__lead-name{
     display: block;
     font-family: 'Open Sans', sans-serif;
     font-size: 30px;
     font-weight: 600;
     text-transform: uppercase;
     margin: 0;
     margin-bottom: 30px;
}

.team__lead-about{
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     margin: 0;
     margin-bottom: 46px;
}

.team__lead-social{
     display: flex;
     flex-wrap: wrap;
     gap: 34px;
     margin: 0;
     padding: 0;
     list-style: none;
}

.team__lead-link{
     color:#000000;
     font-family: 'Open Sans', sans-serif;
     font-style: italic;
     font-size: 18px;
     line-height: 1.33;
     text-decoration: none;
}

.teal__lead-link:hover{
     text-decoration: underline;
}

.team__others {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     grid-column: 2 / 3;
     grid-row: 2 / 3;
     align-items: center;
}

.team__other {
     position: relative;
}

.team__other-photo {
     background-color: rgba(255,45,45,1); 
}

.team__other-name {
     display: none;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     font-weight: 600;
     text-transform: uppercase;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: 1;
     width: 100%;
     background-color: rgba(0,0,0,0.5);
     text-align: center;
     padding: 10px 0;
}

.team__other:hover > .team__other-name{
     display:block
}

@media screen and (max-width: 800px) {
     .team__members {
          grid-template-columns: auto;
          grid-template-rows: auto;
          justify-items: center;
          row-gap: 1em;
     }
     .team__lead-photo {
          grid-row: auto;
     }
     .team__lead-main {
          grid-column: 1 / 2;
          grid-row: auto;
     }
     .team__others {
          justify-content: center;
          grid-column: 1 / 2;
          grid-row: auto;
     }
}

/* Subscribe */
.subscribe {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 1249px;
     margin: 0 auto;
     padding: 0 1vw;
     padding-top: 150px;
     padding-bottom: 140px;
}

.subscribe__heading {
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 42px;
     font-weight: 700;
     line-height: 1.2;
     margin: 0;
     margin-bottom: 17px;
}

.subscribe__about {
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     line-height: 1.75;  
     margin: 0;
     margin-bottom: 59px;
}

.subscribe__form {
     width: 100%;
     max-width: 758px;
     display: flex;
     flex-wrap: wrap;
     gap: 22px;
}

.subscribe__email {
     box-sizing: border-box;
     margin: 0;
     width: 521px;
     height: 79px;
     padding: 0 36px;
     border: none;
     border-radius: 5px;
     background-color: #fff;
}

/* @media screen and (max-width: 600px) {
     .subscribe__email{
          width: 100%;
     }    
     } */

.subscribe__button {
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     line-height: 1.89;  
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 214px;
     height: 79px;
     border: none;
     border-radius: 5px;
     background-color: #ff2d2d;
     text-transform: uppercase;
}

/* Get in Touch */
.feedback {
     max-width: 100%;
     margin: 0;
     padding-right: 0;
     padding-left: 1vw;
     padding-top: 104px;
     padding-bottom: 107px;
}

.feedback__header {
     max-width: 1249px;
     margin: 0 auto;
     margin-bottom:77px;
}

.feedback__inner {
     max-width: 752px;
}

.feedback__heading {
     font-family: 'Open Sans', sans-serif;
     font-size: 42px; 
     font-weight: 700;
     margin: 0;
     margin-bottom: 35px;
     text-transform: uppercase;
}

.feedback__about {
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; 
     line-height: 1.75;
     margin: 0;
     margin-bottom: 50px;
}

.feedback__body {
     display: flex;
     /* justify-content: space-between; */
     flex-wrap: wrap;
     display: grid;
     grid-template-columns: 1fr 731px 107px 411px 1fr;
     grid-template-rows: auto;
}

@media (max-width: 1010px){
     .feedback__body {
          padding: 0 1vw;
     }
}

.feedback__body::after {
     content: '';
     background-color: #2d2d2d;
     grid-column: 5 / 6;
}


.feedback__form {
     width: 731px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-right: 107px;
     grid-column: 2 / 3;
}

.feedback__form > input::placeholder,
.feedback__form > textarea::placeholder {
     /* правило для плейсхолдеров */
     color: #000;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; 
}

.feedback__name {
     box-sizing: border-box;
     width: 339px;
     height: 69px;
     background-color: rgba(0,0,0,0.1);
     border: none;
     border-radius: 5px;
     padding-left: 54px;
     margin-right: 53px;
     margin-bottom: 15px;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; 
}

.feedback__email {
     box-sizing: border-box;
     width: 339px;
     height: 69px;
     background-color: rgba(0,0,0,0.1);
     border: none;
     border-radius: 5px;
     padding-left: 48px;
     margin-bottom: 15px;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; 
}

.feedback__button {
     width: 728px;
     height: 72px;
     border: none;
     border-radius: 5px;
     background-color: #ff3838;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px; 
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 0.3px;
     line-height: 1.89;
}

.feedback__textarea {
     box-sizing: border-box;
     resize: none;
     /* чтобы пользователи не могли
     регулировать размер окна */
     width: 731px;
     height: 245px;
     padding: 31px 51px;
     border: none;
     background-color: rgba(0,0,0,0.1);
     border-radius: 5px;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; 
     margin-bottom: 15px;
}

.feedback__contacts {
     color: #fff;
     background-color: rgba(45,45,45,1);
     grid-column: 4 / 5;
}

.contacts {
     max-width: 315px;
     padding: 141px 17px 141px 79px;
     /* (верх, право. низ, лево) */
}

.contacts__heading {
     text-transform: uppercase;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px; 
     font-weight: 700;
     margin: 0;
     margin-bottom: 30px;
}

.contacts__address {
     font-family: 'Open Sans', sans-serif;
     font-size: 18px; 
     line-height: 1.75;
     margin: 0;
     margin-bottom: 27px;
}

.contacts__email {
     display: block;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     margin: 0;
     margin-bottom: 20px;
}

.contacts__tel {
     display: block;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     margin: 0;
     margin-bottom: 20px;
}

@media screen and (max-width: 1248px) {
     .feedback__body{
          grid-template-columns: 1fr auto 1fr;
          row-gap: 107px;
     }
     .feedback__body::after {
          content: none;
     }
     .feedback__form{
          width: 100%;
          grid-column: 2 / 3;
          margin-right: initial;
     }
     .feedback__name{
          width: 100%;
          margin-right: initial;
     }
     .feedback__email{
          width: 100%;
     }
     .feedback__textarea {
          width: 100%;
          margin-bottom: 44px;
     }
     .feedback__button {
          width: 100%;
     }
     .feedback__contacts {
          grid-column: 2 / 3;
     }
     .contacts {
          width: auto;
     }
}

/* Footer */
.page__inner_dark-2 {
     background-color: #313030;
}

.footer {
     max-width: 1249px;
     min-height: 111px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.footer__copyright {
     margin: 0;
     color: #b8b8b8;
}

.social {
     display: flex;
     gap: 18px;
}

/* JS */
.hide {
     display: none;
}